/* SlabWisePlayers.css */

.slabwise-players-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    font-family: 'Arial', sans-serif;
}

h1 {
    text-align: center;
    color: #333;
}

.slab-heading {
    font-size: 1.5em;
    margin: 20px 0 10px;
    padding: 10px;
    color: #fff;
    text-align: left;
    border-radius: 8px;
    text-align: center;
}

.slab-heading.slab {
    background-color: black; 
}

.player-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Grid for two columns */
    grid-gap: 20px; /* Spacing between the cards */
    margin-top: 10px;
}

.player-card {
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    transition: transform 0.2s, box-shadow 0.2s;
}

.player-card:hover {
    transform: translateY(-4px);
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
}

.player-card h3 {
    margin: 0 0 10px;
    font-size: 1.5em;
    color: #2c3e50;
}

.player-card p {
    margin: 5px 0;
    color: #7f8c8d;
}
